@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admininput {
  @apply border border-black w-2/3 h-9 rounded-md p-2;
}

.labeladmin {
  @apply flex flex-col;
}
